footer {
    background-color:  rgb(253, 238, 226);
    color: #0a0808;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .footer-section {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
  }
  
  .footer-section h2 {
    color: coral;
  
  .footer-section p {
    margin: 5px 0;
  }
  
  .footer-section img {
    width: 30px;
    margin: 0 5px;
  }
  
  .footer-bottom {
    background-color: rgb(253, 238, 226);
    padding: 10px 0;
  }